<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Account Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
</head>

<body>

    <div class="main">
        <div class="d1">
            <span class="user">Welcome, <%= username %></span>
            <span class="cs">CREDIT SYSTEM</span>
            <span class="das">DASHBOARD</span>
        </div>
        <div class="d2">
            <div class="infomain">
                <div class="info" id="name">
                    <p class="infotitle">Name</p>
                    <p class="infoans">
                        <%= username %>
                    </p>
                </div>
                <div class="info" id="balance">
                    <p class="infotitle">Balance (INR)</p>
                    <p class="infoans">
                        <%=  bal %>
                    </p>

                </div>
                <div class="info" id="accno">
                    <p class="infotitle">Account No</p>
                    <p class="infoans">
                        <%=  accno %>
                    </p>

                </div>
                <div class="info" id="nat">
                    <p class="infotitle">Nationality</p>
                    <p class="infoans">
                        <%=  type %>
                    </p>
                </div>
            </div>
            <div class="money">
                <p class="infotitle">Money Transfer</p>
                <form action="/transfer" method="POST">
                    <label for="from_account" class="infoans">From Account:</label>
                    <input type="text" id="from_account" class="textbox" name="from_account" value='<%=  accno %>' readonly><br>
                    <label for="to_account" class="infoans">To Account:</label>
                    <input type="text" id="to_account" class="textbox" name="to_account"><br>
                    <label for="amount" class="infoans">Amount:</label>
                    <input type="text" id="amount" class="textbox" name="amount"><br>
                    <button id="transbtn" type="submit">Transfer</button>
                    <!-- <input type="submit" id="transbtn" class="transbtn" value="Transfer"> -->
                </form>
            </div>
        </div>
        <div class="d3">
            <div class="tran transaction-history">
                <p class="loandetail">Transaction Details</p><br>
                <div class="tbl custom-scrollbar">
                    <table>
                        <thead>
                            <tr>
                                <th class="infotitle">Date</th>
                                <th class="infotitle">Description</th>
                                <th class="infotitle">Amount</th>
                                <th class="infotitle">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% tran.forEach(item => { %>
                                <tr>
                                    <td class="infoans">
                                        <%= item.date.toISOString().split('T')[0] %>
                                    </td>
                                    <td class="infoans">
                                        <%= item.status %>
                                    </td>
                                    <td class="infoans">
                                        <%= item.amt %>
                                    </td>
                                    <td class="infoans">
                                        <%= item.name.toLocaleUpperCase() %>
                                    </td>
                                </tr>
                                <% }); %>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="loan">
                <p class="loandetail">Interest Details</p><br>
                <span class="infotitle" style="font-size: 25px;">Interest Rate: </span> <span class="infoansl">9.6%</span><br><br>
                <span class="infotitle" style="font-size: 25px;">1 year Interest Amount: </span><span class="infoansl"><span id="intrate"></span></span><br><br>

            </div>

        </div>
    </div>
    <script>
        const intrate = document.getElementById("intrate");
        let amt = parseInt('<%=  bal %>');
        intrate.innerHTML = ((amt * 9.6) / 100).toFixed(2);
    </script>

</body>

</html>
